
header  {
    background: whitesmoke; 
}

h1 img  {
    padding: 10px;
    margin-left: 20px;
}

nav {
    position: absolute;
    top: 13%;
    right: 10%;
}
nav li, a  {
    font-family: 'Montserrat', sans-serif;   
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    color: #9C6D85;
    font-size: 15px;
    text-decoration: none;
    margin: 0 0 0 15px;
}

.apresentacao img   {
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 10%;
    border: 5px dotted #9c5d7e;   
}

body    {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;  
}
