#todo   {
    font-family: 'Raleway', sans-serif;
}

header  {
    background: whitesmoke; 
}

.imgheader  {
    padding: 10px;
    margin-left: 90px;
}

nav {
    position: absolute;
    top: 13%;
    right: 10%;
}

nav li, a  {
    font-family: 'Raleway', sans-serif;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    color: #9C6D85;
    font-size: 15px;
    text-decoration: none;
    margin: 0 0 0 15px;
}

.perfilapresentacao   {
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 10%;
    border: 5px dotted #9c5d7e;  
    margin: 15px;
}

.apresentacao h2   {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: xx-large;
    font-weight: bold;   
}

.apresentacao p {
    position: absolute;
    top: 250px;
    left: 100px;
    font-size: x-large;
}

body    {
    background-color: whitesmoke;
}
